/*

Primary:								#2BB9DE
Primary Shade:							#c84600
Text:									#7a7c82
Grey:									#eee
Dark Grey:								#333
Primary Footer							#222
Secondary Footer:						#111

*/


body,
html {
    color: #7a7c82;
}

h1,
h2 {
    color: #2BB9DE;
}

h3,
h4,
h5,
h6 {
    color: #333;
}

p {
    color: #7a7c82;
}

blockquote {
    color: #7a7c82;
}

span {
    color: #2BB9DE;
}

a {
    color: #2BB9DE;
}

a:hover,
a:focus {
    color: #c84600;
}

.title-regular {
    color: #333;
}

.title-underline {
    background-color: #2BB9DE;
}

.title-underline-center {
    background-color: #2BB9DE;
}


.box-icon {
    color: #2BB9DE;
}


.btn-primary {
    background-color: #2BB9DE;
    border-color: #c84600;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-primary:hover {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-default {
    background-color: #2BB9DE;
    border-color: #c84600;
}

.btn-default:focus,
.btn-default.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-default:hover {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.btn-link {
    color: #2BB9DE;
}


.form-control {
    color: #999;
    background-color: #eee;
}

.progress-bar {
    background-color: #2BB9DE;
}


.progress-completed {
    color: #333;
}

.progress-skillbar-title {
    color: #333;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #2BB9DE;
}


/* Pagination */

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #2BB9DE;
    border-color: #2BB9DE;
}

.pagination > li > a,
.pagination > li > span {
    color: #7a7c82;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2BB9DE;
}


/* Labels */

.label-primary {
    background-color: #2BB9DE;
}


/* Badges */

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #2BB9DE;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #2BB9DE;
}


/* List groups */

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #2BB9DE;
    border-color: #2BB9DE;
}



/* Panels */

.panel-primary > .panel-heading {
    background-color: #2BB9DE;
    border-color: #2BB9DE;
}

.panel-primary {
    border-color: #2BB9DE;
}

.section-grey {
    background-color: #eee;
}



.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #2BB9DE;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2BB9DE;
}

.navbar-default .navbar-nav > li > a {
    color: #7a7c82;
}


@media (min-width: 768px) {
    .dropdown-menu > li > a {
        color: #7a7c82;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        background-color: #2BB9DE;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: #2BB9DE;
    }
}

.dropdown-header {
    color: #2BB9DE;
}


.sidebar-header {
    color: #2BB9DE;
}

.sidebar .nav > li > a {
    color: #333;
    border-bottom: 1px solid #ccc;
}


.page-header {
    background-color: #333;
    border-bottom: 5px solid #CCC;
}


.page-header h1 {
    border-bottom: 5px solid #2BB9DE;
}


.page-header-picture {
    background: #333;
}


.sec-alternative {
    background: #333;
}


.sec-alternative .box-icon {
    color: #eee;
}


.cta-primary {
    background-color: #2BB9DE;
}


.cta-primary .btn-primary {
    border-color: #c84600;
    color: #2BB9DE;
}

.cta-primary .btn-primary:focus,
.cta-primary .btn-primary.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.cta-primary .btn-primary:hover {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.cta-primary .btn-primary:active,
.cta-primary .btn-primary.activey {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.cta-primary .btn-primary:active:hover,
.cta-primary .btn-primary.active:hover,
.cta-primary .btn-primary:active:focus,
.cta-primary .btn-primary.active:focus,
.cta-primary .btn-primary:active.focus,
.btn-primary.active.focus {
     background-color: #c84600;
    border-color: #2BB9DE;
}



.intro .fa {
    color: #2BB9DE;
}


.feature .fa {
    color: #2BB9DE;
}


.feature-box .feature-box-icon {
    background: #2BB9DE;
   }


.product {
    background-color: #333;
}

.product .type {
    background-color: #2BB9DE;
}


.popular .pricing-footer .btn-primary {
    border-color: #c84600;
    color: #2BB9DE;
}

.popular .pricing-footer .btn-primary:focus,
.popular .pricing-footer .btn-primary.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.popular .pricing-footer .btn-primary:hover {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.popular .pricing-footer .btn-primary:active,
.popular .pricing-footer .btn-primary.activey {
    background-color: #c84600;
    border-color: #2BB9DE;
}

.popular .pricing-footer .btn-primary:active:hover,
.popular .pricing-footer .btn-primary.active:hover,
.popular .pricing-footer .btn-primary:active:focus,
.popular .pricing-footer .btn-primary.active:focus,
.popular .pricing-footer .btn-primary:active.focus,
.popular .pricing-footer .btn-primary.active.focus {
    background-color: #c84600;
    border-color: #2BB9DE;
}


.product.popular {
    background-color: #2BB9DE;
}



ul.post-list .post-meta {
    color: #888;
}



.tags a {
    border: 1px solid #eee;
}

.tags a:hover {
    background: #eee;
    border: 1px solid #525252;
}



.post-block {
    border-top: 1px solid #DDD;
}

ul.comments .comment-block {
    background: #eee;
}



.testmonial-content {
    background: rgba(0, 0, 0, 0.5);
}



footer {
    background-color: #222;
}


.footer2-container {
    background-color: #111;
}

.video-container {
    background: #525252 fixed;
}




ul.filter > li > a:hover,
ul.filter > li > a:focus {
    color: #c84600;
}

ul.filter > li.active a {
    color: #2BB9DE;
}

ul.filter > li span {
    color: #ddd;
}



.portfolio-section .info-head h3 {
    color: #2BB9DE;
}


.fancybox-skin {
    background: #f9f9f9;
    color: #444;
}



.fancybox-error {
    color: #444;
}


/* 09_04 - Owl Carousel
-------------------------------------------------- */

.owl-theme .owl-nav [class*="owl-"] {
    background: #2BB9DE!important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #2BB9DE!important;
}
